<h3>Here is a list of some ideas, k?</h3>
<div class='ideas'>
<% @ideas.each do |idea| %>
  <%= link_to idea.title, idea %>
  <p><%= idea.body %></p>
  <p><%= idea.quality %> <%= button_tag "Upvote", class: "upvote-button", data: idea.id %> <%= button_tag "Downvote", class: "downvote-button", data: idea.id %></p>
<% end %>
</div>
<br />
<%= form_for @idea do |f| %><br />
  <%= f.label :title %><br />
  <%= f.text_field :title %><br />
  <%= f.label :body %><br />
  <%= f.text_area :body %><br />
  <%= f.hidden_field :quality, value: "swill" %>
<% end %>
<%= button_tag "Save", class: "new-idea"%>
